<article class="post">
  <div class="title card-header flex-row justify-space-between">
      <a href="/post/{{id}}" class="link flex-column" style="font-weight: bold;">{{title}}</a>
      <span class="flex-column secondary">(Posted by {{user.username}} on {{format_date created_at}})</span>
  </div>
  <div class="meta card-body">
    {{content}}
  </div>
</article>